@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for compact feel */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #1f2937;
}
::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 3px;
}
body {
    background-color: #000;
}

